@model Forum.ViewModels.Administration.BanUserViewModel

<div class="container">
    <h3>
        Ban @Model.Email for :
    </h3>
    <div class="btn-group">
        <form asp-controller="Administration" asp-action="BanUser" method="post"> 
            <input type="hidden" asp-for="@Model.UserId"/>
            <input type="number" asp-for="@Model.BannedForXdays" />
            <button type="submit" class="btn btn-secondary">
                Submit
            </button>
        </form>
    </div>
</div>