@model Forum.ViewModels.Administration.UserViewModel


<div class=" container body-content">
    <div class="row">
         <div class="col-2 d-flex justify-content-center align-items-center">
                 <img class="img-fluid" src="~/images/forum/user.png" />
         </div>
        <div class="col-8 p-0">
            <ul class="list-group">
                <li class="list-group-item disabled">
                    User name: @Model.Email
                </li>
                <li class="list-group-item ">
                    <a asp-area="Identity" asp-page="/Account/Manage/Email"> Change Email</a>
                </li>
                <li class="list-group-item disabled">User email: @Model.Email</li>
                <li class="list-group-item "> <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword"> Change Password</a></li>
                <li class="list-group-item disabled">User rating: @Model.UserRating </li>
            </ul>
        </div>
        <div claas="col-2">
            <ul class="list-group">
                <li class="list-group-item disabled">
                    User roles:
                </li>
                @foreach (var role in Model.UserRoles)
                {
                    <li class="list-group-item">
                        Role: @role
                    </li>
                }
            </ul> 
        </div>
    </div>
</div>